body {
    background-image: url("/Users/dylan-eckert/GitHub/codetahoe-repo/ct300/week-3/eyecons-game/eyecon-game-assets/images/eyecons-bg-landscape.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
}
main {
    background-image: url("/Users/dylan-eckert/GitHub/codetahoe-repo/ct300/week-3/eyecons-game/eyecon-game-assets/images/eyecons-help.png");
    background-repeat: no-repeat;
    border: 1px solid black;
    width: 1024px;
    height: 1024px;
    background-position: center;
    margin: 0 auto;
}
#back-button {
  position: static;
  background-image: url("/Users/dylan-eckert/GitHub/codetahoe-repo/ct300/week-3/eyecons-game/eyecon-game-assets/images/home-screen-blank-tile.png");
  border-radius: 10px;
  border: 0px;
  color: white;
  font-size: 20px;
  height: 76px;
  width: 80px;
  margin-bottom: 300px;
}
